@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/HomeAdmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Account/AddGV" class="nav-link">ADDGV</a>
        </li>
    </ul>
}

<h2 style="text-align:center">THÊM TÀI KHOẢN GIẢNG VIÊN</h2>
<form id="uploadForm" enctype="multipart/form-data" method="post" action="@Url.Action("AddGV", "Account")">
    <div class="form-group">
        <label for="excelFile">Chọn file Excel:</label>
        <input type="file" id="excelFile" name="excelFile" class="form-control" accept=".xlsx,.xls" />
    </div>
    <input type="hidden" name="subjectName" id="subjectNameHidden">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>$(document).ready(function () {
            $('#subjectName').change(function () {
                $('#subjectNameHidden').val($(this).val());
            });
        });</script>
}
